.header {
    background-color: #2C2F33;
    height: 54px;
    overflow: hidden;
    color: #fff;
    line-height: 52px;
}
.main {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    opacity: '0.8'
}
.header-menu {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-menu a {
    text-align: right;
    width: 125px;
}
.header-menu img {
    height: 20px;
}
.header-menu li {
    list-style: none;
    display: inline;
    position: relative;
    z-index: 2;
}
.header-menu li a{
    font-size: 14px;
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    line-height: 52px;
    padding: 10px 15px;
    margin-left: 4px;
}
.login {
    width: 340px;
    float: right;
    line-height: 52px;
    color: #fff;
    text-align: right;
    font-size: 12px;
    opacity: 0.8;
}
.login a {
    color: #fff;
    text-decoration: none;
}